.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98vw;
    margin: 30px 0px;
}
.section-gallery{
    width: 80vw;
    background-color: rgb(27, 27, 27, 0.8);
    border-radius: 5px;
    padding: 20px;
    color: aliceblue;
    text-align: center;
}
.slider-image{
    width: 25vw; 
    height: 15vw;   
    @media screen and (max-width:1026px) and (min-width: 425px){
        width: 40vw;
        height: 25vw;
    }
    @media screen and (max-width: 425px) {
        width: 70vw;
        height: 45vw;
    }
}